{% load static %}
<footer class="mt-auto pt-2 pb-1 bg-dark text-white">
    <div class="container-xl">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
            <div class="d-flex justify-content-center justify-content-sm-start">
                <img height="auto"
                     width="100px"
                     src="https://dcc.uchile.cl/static/images/base/logo_footer.svg"
                     alt="DCC" />
            </div>
            <div class="text-center text-sm-end pt-4 pt-sm-0 align-self-center">
                <div class="fw-bold">Diploma de Postítulo en Ingeniería de Softare</div>
                <div>Taller de Software 2025</div>
            </div>
        </div>
    </div>
</footer>
